:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logo-top-color: #000;
  --primary-white-color: #fff;
  --hero-background: #c4c4c4;
  --footer-background: #2f303a;
  --light-background: #f5f4fa;
  --shadow-color: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --border-color: #eeeeee;
  --icon-link_color: #afb1b8;
  --social-link_background: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

img {
  display: block;
  width: 100%;
}

body {
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  display: flex;
  justify-content: center;
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.social-list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-list__item-link:hover .social-list__icon {
  fill: var(--primary-white-color);
}

.social-list__item-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-list__item-link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-link_color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-slogan {
    margin-left: auto;
    margin-right: 0;
  }
}

.footer-slogan-text {
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .footer-slogan-text {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-slogan-text {
    margin-top: 0;
  }
}

.footer-subscription {
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-subscription {
    display: flex;
    flex-direction: column;
  }
}

.footer-slogan-mail {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
}

.footer-slogan-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-slogan-mail {
    width: 358px;
  }
}

.footer-slogan-button {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  padding: 10px 28px 10px 29px;
  width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .footer-slogan-button {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-slogan-button {
    margin-left: 12px;
  }
}

.footer-subscription-item {
  margin-left: 10px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: var(--shadow-color);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    min-width: 528px;
  }
}

.backdrop .modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--shadow-color);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.backdrop .modal-close-button:hover .modal-icon {
  fill: var(--accent-color);
}

.backdrop .modal-close-button:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  fill: var(--logo-top-color);
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.modal-form____position {
  display: flex;
  flex-direction: column;
}

.modal-form__wrapper {
  position: relative;
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-field-colume {
  margin-top: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-colume:focus {
  border: 1px solid var(--accent-color);
}

.form-field-colume:focus + .form-field-icon {
  fill: var(--accent-color);
}

.form-field-comment-colume {
  height: 120px;
  width: inherit;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment-colume:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field-comment-colume::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-color);
}

.form-field-colume:focus + .form-field-icon {
  fill: var(--accent-color);
}

.form-policy {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-policy-label {
  position: relative;
  font-size: 14px;
  line-height: 1.7px;
  color: var(--text-color);
  padding-left: 22px;
}

@media screen and (max-width: 767px) {
  .form-policy-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form-policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy-checkbox:checked + .form-policy-icon {
  background-color: var(--accent-color);
  border: transparent;
}

.form-policy-icon {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 15px;
  background-color: var(--primary-white-color);
  fill: var(--primary-white-color);
  border: 2px solid #212121;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy-link {
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  min-width: 200px;
  padding: 10px 55px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
}

.filters__position {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .filters__position {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filters__position {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters__position {
    margin-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
  }
  .mobile-menu__icon-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__icon-cross:hover, .mobile-menu__icon-cross:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 302px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__current {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__contacts-email {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .mobile-menu__contacts-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .mobile-menu__socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 64px;
  }
  .mobile-menu__socials-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 20px;
  }
  .mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header__menu, .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container, .header__logo, .header__nav, .header__menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header__button {
    line-height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.logo__dark {
  color: var(--logo-top-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 48px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon.icon-email {
  width: 14px;
  height: 10px;
}

.contacts__icon.icon-phone {
  width: 10px;
  height: 14px;
}

.contacts__link:hover + .contacts__icon,
.contacts__link:focus + .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link.current {
  position: relative;
  padding-bottom: 32px;
  color: var(--accent-color);
}

.menu__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
}

.feat-section {
  padding-bottom: 0;
}

@media screen and (min-width: 480px) {
  .feat-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .feat-section {
    padding-top: 94px;
  }
}

.feat-list .feat__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feat-list .feat__item {
    width: 354px;
  }
  .feat-list .feat__item:nth-last-child(-n + 2) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .feat-list .feat__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .feat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .feat-list .feat__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feat__icons {
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--light-background);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .feat__icons {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feat__icons {
    width: 270px;
  }
}

.feat__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
}

.feat_subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .feat_subtitle {
    text-align: unset;
  }
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__item {
  position: relative;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 1;
}

.team {
  background-color: var(--light-background);
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.feat__text,
.team__position,
.project-info__subtitle {
  color: var(--text-color);
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: var(--shadow-color);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: unset;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.clients-list__position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .clients-list__position {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__position {
    justify-content: space-between;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-link_color);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: unset;
  }
}

.clients__item-link:hover {
  border: 1px solid var(--accent-color);
}

.clients__item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients__item-link:hover .clients__icon {
  fill: var(--accent-color);
}

.clients__item-link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: var(--icon-link_color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.examples__link:hover {
  box-shadow: var(--shadow-color);
}

.examples__link:hover .examples__projects {
  transform: translateY(0%);
}

.examples__overlay {
  position: relative;
  overflow: hidden;
}

.examples__overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.examples__projects {
  position: absolute;
  padding: 63px 24px;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 370px;
  height: 294px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button {
  padding: 6px 26px;
  border: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--shadow-color);
}

.list-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--shadow-color);
}

.project .feat__item:not(:last-child) {
  margin-right: 8px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -30px;
  margin-top: -30px;
}

.examples__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.project-info {
  flex-grow: 1;
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.project-info__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-info__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
}

.logo__light {
  color: var(--primary-white-color);
}

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 8px;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 9px;
  }
}

.footer__contacts-style {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-style:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts-style:hover {
  color: var(--accent-color);
}

.footer__contacts-style:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer__contacts-style {
    justify-content: center;
  }
}

.footer__social {
  height: 80px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    width: 206px;
  }
}

.footer__social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .footer__social-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-text {
    margin-top: 0;
  }
}

.footer__social-media {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.media-icons {
  width: 44px;
  height: 44px;
}

.media-icons:not(:last-child) {
  margin-right: 10px;
}

.media-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--social-link_background);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.media-icons-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-social-icons {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer-slogan-mail {
    margin: 0 auto;
    max-width: 450px;
  }
}
/*# sourceMappingURL=main.css.map */