body {
	color: #212121;

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #212121;
}

img {
	display: block;
}

/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575; */
/* Белый цвет #FFFFFF; */
/* Акцент #2196F3 */
/* Цвет адреса rgba(255, 255, 255, 0.6) */
/* Цвет фона хедера #FFFFFF */
/* Цвет фона героя #2F303A */
/* Цвет секции \Чем мы занимаемся\ #E5E5E5  */
/* Цвет секции \Наша команда\ #F5F4FA */

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page-header {
	border-bottom: 1px solid #ececec;
	background-color: #ffffff;
}

.logo {
	display: flex;
	margin-right: 93px;

	color: #000000;

	font-family: Raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo-style {
	color: #2196f3;
}

/* Навигация сайта */

.main-nav {
	display: flex;
	align-items: center;
	border-bottom: 1px;
	border-color: red;
}

.site-nav {
	display: flex;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: #212121;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: #2196f3;
}

.item {
	position: relative;
}

.current::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
}

.contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.contacts .item:not(:last-child) {
	margin-right: 50px;
}

.contact {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;

	color: #5a5a5a;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
	color: #2196f3;
}

.icon {
	height: 16px;
	width: 12px;
	fill: currentColor;
	margin-right: 10px;
	background-size: contain;
}

.icon:hover,
.icon:focus {
	fill: #2196f3;
}

/* Герой */

.hero {
	background-color: #2f303a;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;

	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	color: #ffffff;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	display: inline-block;

	background-color: #2196f3;
	color: #ffffff;

	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-decoration: none;
}

.project {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.link-list {
	display: block;
	text-decoration: none;
}

.link-list:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
	position: relative;
	overflow: hidden;
}

.product-thumb::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
}

.link-list:hover .product-thumb::before {
}

.product-description {
	position: absolute;
	padding: 63px 24px;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 370px;
	height: 294px;
	overflow: hidden;

	font-size: 18px;
	line-height: 1.5;
	color: #ffffff;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list:hover .product-description {
	transform: translateY(0%);
}

.list-button {
	padding: 6px 26px;
	border: 0;
	border-radius: 4px;

	color: #212121;
	background-color: #f5f4fa;

	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .item:not(:last-child) {
	margin-right: 8px;
}

.list-button:hover,
.list-button:focus {
	color: #ffffff;
	background-color: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
}

.link-container {
	margin-right: 30px;
	margin-bottom: 30px;
}

.link-container:nth-child(3n) {
	margin-right: 0;
}

.link-container:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.project-info {
	padding: 20px 24px;

	background-color: #ffffff;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.section {
	background-color: #ffffff;
	padding-top: 94px;
	padding-bottom: 94px;
}

.first-section {
	padding-top: 94px;
	padding-bottom: 0;
}

.visual-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.advantage {
	display: flex;
	flex-wrap: wrap;
}

.feature-list {
	display: flex;
}

.feature-list .item {
	width: 270px;
}

.feature-list .item:not(:last-child) {
	margin-right: 30px;
}

.icons {
	width: 270px;
	height: 120px;
	padding: 25px 100px;
	margin-bottom: 30px;
	background-color: #f5f4fa;
	border-radius: 4px;
}

.section-paragraph {
	margin-top: 0;
	margin-bottom: 0px;
}
.list .list-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1;
	text-transform: uppercase;
}

.list .section-paragraph {
	font-size: 14px;
	line-height: 1.7;
}

.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	text-align: center;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item-type {
	position: relative;
}

.item-type:not(:last-child) {
	margin-right: 30px;
}

.image-type {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.image-type-description {
	position: absolute;
	bottom: 4px;
	left: 0;
	display: flex;
	padding-top: 27px;
	padding-bottom: 27px;
	width: 370px;
	height: 70px;

	text-decoration: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(47, 48, 58, 0.8);

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	color: #ffffff;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	opacity: 1;
}

.person-container {
	display: inline-block;
}

.person-info {
	padding-top: 30px;
	padding-bottom: 30px;
}

.list-person {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
}

.team-position {
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.section-paragraph,
.team-position,
.list-info {
	color: #757575;
}

.list-project {
	margin: 0;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.list-info {
	margin: 0;

	font-size: 16px;
	line-height: 1.9;
}

.team-section {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}

.members {
	display: flex;
	flex-wrap: wrap;
}

.members-item {
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.members-item:not(:last-child) {
	margin-right: 30px;
}

.social-media {
	display: flex;
	padding: 0;
	justify-content: center;
}

.networks {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.networks:not(:last-child) {
	margin-right: 10px;
}

.social-icons {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: #2196f3;
	border-radius: 50%;
}

.social-link:hover .social-icons,
.social-link:focus .social-icons {
	fill: #ffffff;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
	display: flex;
}

.client-numbering {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	text-align: center;
	border-radius: 4px;
}

.client-numbering:not(:last-child) {
	margin-right: 30px;
}

.client-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
	border: 1px solid #2196f3;
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
	fill: #2196f3;
}

.client-icon {
	fill: #afb1b8;
	width: 106px;
	height: 60px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
	background-color: #2f303a;

	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-link {
	display: inline-block;

	margin-top: 0;
	margin-bottom: 20px;

	color: #ffffff;

	font-family: Raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.footer-text {
	margin-bottom: 9px;

	color: #ffffff;

	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
}

.contacts-style {
	display: flex;

	color: rgba(255, 255, 255, 0.6);

	font-size: 14px;
	line-height: 1.7;
	text-decoration: none;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-style:not(:last-child) {
	margin-bottom: 9px;
}

.contacts-style:hover,
.contacts-style:focus {
	color: #2196f3;
}

.footer-content {
	display: flex;
	align-items: baseline;
}

.footer-contacts {
	margin-right: 70px;
}

.footer-social-media {
	display: flex;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.footer-media {
	width: 206px;
	height: 80px;
}

.footer-media-text {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}

.media-icons {
	width: 44px;
	height: 44px;
}

.media-icons:not(:last-child) {
	margin-right: 10px;
}

.media-icons-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons-link:hover,
.media-icons-link:focus {
	background-color: #2196f3;
	border-radius: 50%;
}

.footer-social-icons {
	width: 20px;
	height: 20px;
	fill: #ffffff;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-slogan {
	margin-left: auto;
	margin-right: 0;
}

.footer-slogan-text {
	margin-top: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: #ffffff;
}

.footer-subscription {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.footer-slogan-mail {
	width: 358px;
	height: 50px;
	padding-left: 16px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	color: #ffffff;
}

.footer-slogan-mail::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.footer-slogan-button {
	display: inline-flex;
	justify-content: center;

	background-color: #2196f3;
	color: #ffffff;

	margin-left: 12px;
	padding: 10px 28px 10px 29px;
	min-width: 200px;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscription-item {
	margin-left: 10px;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	fill: #ffffff;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
}

.modal-icon {
	fill: #000000;
	width: 11px;
	height: 11px;
}

.modal-title {
	margin: 40px 40px 12px 40px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
}

.form {
	width: 448px;
	height: 342px;
	margin-left: 40px;
	margin-right: 40px;
}

.form-field {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 0;
}

.form-field:not(:last-child) {
	margin-bottom: 10px;
}

.form-label-text {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;

	color: #757575;
}

.form-field-colume {
	padding-left: 42px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-colume:focus {
	border: 1px solid #2196f3;
}

.form-field-colume:focus + .form-field-icon {
	fill: #2196f3;
}

.form-field-comment-colume {
	height: 120px;
	width: inherit;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment-colume:focus {
	border: 1px solid #2196f3;
	outline: none;
}

.form-field-comment-colume::placeholder {
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.form-field-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 18px;
	height: 18px;
	fill: #212121;
}

.form-policy {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.form-policy-label {
	position: relative;
	font-size: 14px;
	line-height: 1.7px;
	color: #757575;
	padding-left: 22px;
}

.form-polycy-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.form-polycy-checkbox:checked + .form-policy-icon {
	background-color: #2196f3;
	border: transparent;
}

.form-policy-icon {
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 0;
	width: 16px;
	height: 15px;
	background-color: #ffffff;
	fill: #ffffff;
	border: 2px solid #212121;
	border-radius: 2px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy-link {
	text-decoration-skip-ink: none;
}

.form-submit {
	display: flex;
	justify-content: center;
}

.form-submit-button {
	min-width: 200px;
	padding: 10px 55px;
	color: #ffffff;
	background-color: #2196f3;
	border: 1px solid transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-decoration: none;
}
