body {
  color: #212121;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575; */
/* Белый цвет #FFFFFF; */
/* Акцент #2196F3 */
/* Цвет адреса rgba(255, 255, 255, 0.6) */
/* Цвет фона хедера #FFFFFF */
/* Цвет фона героя #2F303A */
/* Цвет секции \Чем мы занимаемся\ #E5E5E5  */
/* Цвет секции \Наша команда\ #F5F4FA */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header .container {
  width: 1170px;
  margin: 0 auto;
}

.page-header {
  
  border-bottom: 1px solid #ECECEC;
 
  background-color: #ffffff;
}

.logo {

  display: flex;
  margin-right: 93px;

  color: #000000;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-style {
  color: #2196f3;
}

/* Навигация сайта */

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px;
  border-color: red;
  
}


.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contact {

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

/* Герой */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}

.button {
  display: inline-block;

  background-color: #2196f3;
  color: #ffffff;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;

}


.project {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}



.link-list {
  text-decoration: none;
}

.list-button {

  padding: 6px 26px;
  border: 0;
  border-radius: 4px;

  color: #212121;
  background-color: #f5f4fa;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.project .item:not(:last-child) {
  margin-right: 8px;
}

.list-button:hover,
.list-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}




.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-container {

  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid #ECECEC
}

.link-container:nth-child(3n) {
  margin-right: 0;
}

.link-container:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-info {
  padding: 24px;
  text-align: left;
}

.section {

  padding-top: 94px;
  
  text-align: center;
}

.cards {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage {
  display: flex;
  flex-wrap: wrap;

  padding-top: 94px;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-paragraph {
  margin-top: 0;
  margin-bottom: 0px;
}
.list .list-title {
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.list .section-paragraph {

  font-size: 14px;
  line-height: 1.7;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;


  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}


.images {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.item-type:not(:last-child) {
  margin-right: 30px;
}

.image-type {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;

}

.person-container {
  display: inline-block;
}

.person-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-person {

  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.team-position {
  
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-paragraph,
.team-position,
.list-info {
  color: #757575;
}

.list-project {

  margin: 0;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list-info {

  margin: 0;
  
  font-size: 16px;
  line-height: 1.9;
}

.section {
  background-color: #ffffff;
}

.team-section {
  background-color: #ffffff;
}

.members {
  display: flex;
  flex-wrap: wrap;
}

.members-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;

}

.footer-link {
  display: inline-block;
  
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-text {
  margin-bottom: 9px;

  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contacts-style {
  display: flex;
  
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.contacts-style:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-style:hover,
.contacts-style:focus {
  color: #2196f3;
}
