.feat-section {
	padding-bottom: 0;
	@media screen and (min-width: 480px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
	}
}

.feat-list {
	.feat__item {
		margin-bottom: 30px;
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			width: 354px;
			&:nth-last-child(-n + 2) {
				margin-bottom: unset;
			}
		}
		@media screen and (min-width: 1200px) {
			width: 270px;
		}
	}

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media screen and (min-width: 1200px) {
		.feat__item:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.feat__icons {
	width: 100%;
	height: 120px;
	padding: 25px 100px;
	margin-bottom: 30px;
	background-color: var(--light-background);
	border-radius: 4px;
	@media screen and (min-width: 768px) {
		width: 354px;
	}
	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.feat__text {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 1.7;
}

.feat_subtitle {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1;
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
		text-align: unset;
	}
}
