.logo {
	display: flex;
	justify-content: center;
	color: var(--accent-color);

	font-family: Raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	@media screen and (min-width: 1200px) {
		margin-right: 93px;
	}
}
