:root {
	--text-color: #757575;
	--title-color: #212121;
	--accent-color: #2196f3;
	--logo-top-color: #000;
	--primary-white-color: #fff;
	--hero-background: #c4c4c4;
	--footer-background: #2f303a;
	--light-background: #f5f4fa;
	--shadow-color: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	--border-color: #eeeeee;
	--icon-link_color: #afb1b8;
	--social-link_background: rgba(255, 255, 255, 0.1);
}
